include ../main/main.pug
include ../core/title/title.pug
include ../arrow/arrow.pug
include ../image/image.pug
mixin direction(data)
	.direction
		+main
			+title(data.title)
			.direction__slider.swiper-container
				.swiper-wrapper
					each item in data.slide
						.direction__content.swiper-slide
							.direction__text
								q.direction__quote
								.direction__citate!= item.citate
							.direction__name!= item.name
							.direction__profession!= item.profession
							.direction__experience!=item.experience
							+image(item.image, 'direction__image')
							svg.direction__background
								use(xlink:href=loadAssets(`${data.background}`))
				+arrow(data.arrow, 'direction__arrow')
				//-.direction__arrow
					svg.direction__prev
						use(xlink:href=loadAssets('./svg/layer1.svg'))
					svg.direction__next
						use(xlink:href=loadAssets('./svg/layer2.svg'))

